/* 03_community.css */
/* 아래에 코드를 작성해 주세요. */
main {
    margin: 64px;
}

section {
    margin-top: 10px;
}

.list-group {
    list-style: none;
    border-radius: 10px;

}

.row>a {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
}

.pagi {
    display: flex;
    justify-content: center;
    align-items: center;
}